@import "vars.scss";

.uses {
    list-style: none;
}

.uses-item{
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;

    &__title {
        position: absolute;
        bottom: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 40px 40px 48px;
        z-index: 2;
        left: 0px;
        right: 0px;
        bottom: 0;
        background: linear-gradient(transparent, #00000080 20%, #000000ab 100%);
        &:before {
            content: '';
            position: absolute;
            height: 40px;
            width: 3px;
            top: 0;
            left: 32px;
            background: $blue;
        }
    }
    &__image {
        overflow: hidden;
    }
    &__image img {
        transition: all .5s;
        width: 100%;

    }
    &:hover &__image img {
        transform: scale(1.1)
    }
}